.block.request-block
    .request-block__main
        img(src="assets/img/question.png", alt="")
        .request-block__main-text-wrapper
            h2.request-block__main-text-headline У вас остались вопросы?
            span.request-block__main-text Оставьте свою заявку и наш менеджер с вами свяжется
    form.request-block__form(action="")
        label.input-default.request-block__input-name
            input(type="text", name="" placeholder="Ваше имя*" required)
        label.input-default.request-block__input-tel
            input(type="tel", name="" placeholder="Телефон*")
        input.input-submit.request-block__input-submit(type="submit", value="Заказать звонок")
        label.input-checkbox.request-block__input-checkbox
            input(type="checkbox", name="")
            span Я принимаю 
                a(href="#") Условия политики конфиденциальности


