aside.aside-catalog
    nav.aside-catalog-list
        ul
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-furniture.svg
                    span Мебель
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-plastic.svg
                    span Изделия из пластмассы
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-electric.svg
                    span Освещение и электрика
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-edging.svg
                    span Кромкооблицовочные материалы
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-elevating.svg
                    span Подъёмные механизмы
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-door-furniture.svg
                    span Дверная фурнитура
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-bed.svg
                    span Комплектующие для кроватей и мебели
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-kitchen.svg
                    span Кухонные комплектующие
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-door-device.svg
                    span Механизмы для дверей
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-drawer-slide.svg
                    span Направляющие, ящики
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-railing.svg
                    span Ограждения и перила
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-hinge-strap.svg
                    span Петли мебельные
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-mdf-profile.svg
                    span Профиль МДФ
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-restoration.svg
                    span Реставрационные материалы
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-hand-el-instrument.svg
                    span Ручной и электро инструмент
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-tabletop-panel.svg
                    span Столешницы и стеновые панели
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-dish-drayers.svg
                    span Сушилки для посуды
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-cable.svg
                    span Тросовая система
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-wrappings.svg
                    span Упаковочные материалы
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-casket.svg
                    span Фурнитура для шкатулок
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-glue.svg
                    span Клеи для производства мебели
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-components-office.svg
                    span Комплектующие для офисной мебели
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-hooks.svg
                    span Крючки мебельные
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-tabletop-panel.svg
                    span МДФ
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-hinge-strap.svg
                    span Скобяные изделия
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-coupling.svg
                    span Стяжки, крепежи, заглушки
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-children.svg
                    span Товары для безопасности детей
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-pipes.svg
                    span Трубно модульные системы
            li.aside-catalog-list__item
                a(href="category.html")
                    include ../_common/svg/ct-washing.svg
                    span Мойки и смесители
