.container
    .header-top
        .header-top__half
            span.header-description Мебельная фурнитура в Перми
        .header-top__half
            .header-contacts
                a(href="mailto:").header-mail 
                    include ../_common/svg/mail.svg
                    span mebfurnitura@yandex.ru
                span.header-address
                    include ../_common/svg/map-label.svg
                    span Пермь, ул. Васильева 3В
            a(href="tel:+73422275444").header-phone
                include ../_common/svg/phone.svg
                span +7 (342) 227-54-44
    .header-mid
        nav.header-nav
            ul
                li.header-nav__item
                    a(href="index.html") Главная
                li.header-nav__item
                    a(href="catalog.html") Каталог
                li.header-nav__item
                    a(href="delivery.html") Доставка
                li.header-nav__item
                    a(href="services.html") Услуги
                li.header-nav__item
                    a(href="about.html") О компании
                li.header-nav__item
                    a(href="news.html") Новости
                li.header-nav__item
                    a(href="contacts.html") Контакты


