.container.header
    .header-aside
        a(href="index.html").header-logo
            include ../_common/svg/logo-tsmf.svg
        a(href="catalog.html").header-catalog
            include ../_common/svg/burger-half.svg
            span Каталог
    .header-main
        .header-top
            .header-top__half
                span.header-description Мебельная фурнитура в Перми
            .header-top__half
                .header-contacts
                    a(href="mailto:").header-mail 
                        include ../_common/svg/mail.svg
                        span mebfurnitura@yandex.ru
                    span.header-address
                        include ../_common/svg/map-label.svg
                        span Пермь, ул. Васильева 3В
                a(href="tel:+73422275444").header-phone
                    include ../_common/svg/phone.svg
                    span +7 (342) 227-54-44
        .header-mid
            nav.header-nav
                ul
                    li.header-nav__item
                        a(href="index.html") Главная
                    li.header-nav__item
                        a(href="catalog.html") Каталог
                    li.header-nav__item
                        a(href="delivery.html") Доставка
                    li.header-nav__item
                        a(href="services.html") Услуги
                    li.header-nav__item
                        a(href="about.html") О компании
                    li.header-nav__item
                        a(href="news.html") Новости
                    li.header-nav__item
                        a(href="contacts.html") Контакты
                .header-nav__buttons
                    a(href="javascript:;").header-nav__buttons-item
                        include ../_common/svg/search.svg
                    a(href="cabinet.html").header-nav__buttons-item
                        include ../_common/svg/profile.svg
                    a(href="basket.html").header-nav__buttons-item.header-nav__buttons-item_basket
                        include ../_common/svg/basket.svg
        .header-bottom
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="index.html")
                        include ../_common/svg/home.svg
                        span Главная
                li.breadcrumbs__item
                    a(href="index.html")
                        span Каталог
                li.breadcrumbs__item
                    a(href="index.html")
                        span Комплектующие
                li.breadcrumbs__item
                    a(href="index.html")
                        span Ручка
            form.search
                input(type="text", name="" maxlength="50" placeholder="Дверная ручка")
                a(href="javascript:;")
                    include ../_common/svg/cross.svg
                button(type="submit")
                    include ../_common/svg/search.svg

        



