@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPTLight.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPTMedium.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPTDemi.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPTBold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPTExtraBold.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPTHeavy.otf") format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: "FuturaPTBook";
    src: url("../fonts/FuturaPTBook.otf") format("opentype");
    font-weight: 500;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

ul {
    list-style: none;
}

body {
    background-color: #FFF;
    color: #2e2e2e;
    font-family: 'FuturaPT', sans-serif;
}

button {
    cursor: pointer;
    font-family: 'FuturaPT', sans-serif;
}

button:focus {
    outline: none;
}

a {
    color: #2e2e2e;
    font-family: 'FuturaPT', sans-serif;
    text-decoration: none;
}

a:focus {
    outline: none;
}

input {
    font-family: 'FuturaPT', sans-serif;
}

input:focus {
    outline: none;
}

.container {
    background-color: #FFF;
    margin: 0 auto;
    max-width: 1187px;
    padding: 0 15px 0 0;
}

*::selection {
    background-color: #013e91;
    color: #FFF;
}

////

body {
    background: linear-gradient(to right, #013781 50%, #f7f7f7 50%);
    position: relative;
}
