@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPTLight.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPTMedium.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPTDemi.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPTBold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPTExtraBold.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPTHeavy.otf") format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: "FuturaPTBook";
    src: url("../fonts/FuturaPTBook.otf") format("opentype");
    font-weight: 500;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

ul {
    list-style: none;
}

body {
    background-color: #FFF;
    color: #2e2e2e;
    font-family: 'FuturaPT', sans-serif;
}

button {
    cursor: pointer;
    font-family: 'FuturaPT', sans-serif;
}

button:focus {
    outline: none;
}

a {
    color: #2e2e2e;
    font-family: 'FuturaPT', sans-serif;
    text-decoration: none;
}

a:focus {
    outline: none;
}

input {
    font-family: 'FuturaPT', sans-serif;
}

input:focus {
    outline: none;
}

.container {
    background-color: #FFF;
    margin: 0 auto;
    max-width: 1187px;
    padding: 0 15px 0 0;

    &.container_main {
        display: flex;
    }

    @media(max-width: 992px) {
        padding: 0 15px;
    }
}

*::selection {
    background-color: #013e91;
    color: #FFF;
}


/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .slick-list:focus {
    outline: none;
  }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-track:before,
  .slick-track:after {
    display: table;
    content: '';
  }
  .slick-track:after {
    clear: both;
  }
  .slick-loading .slick-track {
    visibility: hidden;
  }
  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  }
  .slick-slide:focus {
    outline: none;
  }
  [dir='rtl'] .slick-slide {
    float: right;
  }
  .slick-slide img {
    display: block;
  }
  .slick-slide.slick-loading img {
    display: none;
  }
  .slick-slide.dragging img {
    pointer-events: none;
  }
  .slick-initialized .slick-slide {
    display: block;
  }
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
    display: none;
  }


//

.slider-pagination {

    .slick-dots {
        bottom: -35px;
        display: flex;
        position: absolute;
        right: 0;

        li {
            margin: 0 3px;

            button {
                background-color: #FFF;
                border: 1px solid #e2e2e2;
                color: #8c8c8c;
                height: 22px;
                transition: 0.2s all;
                width: 22px;

                &:hover {
                    background-color: #01449f;
                    border: 1px solid #01449f;
                    color: #FFF;
                }
            }

            &.slick-active {

                button {
                    background-color: #01449f;
                    border: 1px solid #01449f;
                    color: #FFF;
                }
            }
        }
    }
}

.show-all-btn-mobile {
    font-size: 0.875rem;
    height: 44px;
    margin: 24px auto 0;
    max-width: 320px;
    width: 100%;
    align-items: center;
    background-color: #01449f;
    color: #FFF;
    display: none;
    justify-content: center;
    padding: 0 8px;
    transition: 0.2s all;

    &:hover {
        background-color: #ffd21f;
        color: #191919;
    }

    @media(max-width: 768px) {
        display: flex;
    }
}

body {
    background: linear-gradient(to right, #013781 50%, #f7f7f7 50%);
    position: relative;

    @media(max-width: 1200px) {
        background: #FFF;

        main {
            min-height: 300px;
        }
    }
}

.content-wrapper {
    width: calc(100% - 132px);

    @media(max-width: 992px) {
        width: 100%;
    }
}

.block {
    border-bottom: 1px solid #e7e8e9;
    padding: 52px 0 52px 15px;

    @media(max-width: 992px) {
        padding: 52px 0;
    }

    @media(max-width: 768px) {
        padding: 40px 0;
    }

    @media(max-width: 480px) {
        padding: 24px 0;
    }

    &.block_only-mobile {
        display: none;

        @media(max-width: 768px) {
            display: block;
        }
    }

    &.block_hide-mobile {

        @media(max-width: 768px) {
            display: none;
        }
    }
}

.block-headline {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 auto 52px;
    max-width: 620px;
    text-align: center;
    text-transform: uppercase;

    @media(max-width: 768px) {
        font-size: 1.25rem;
        margin: 0 auto 40px;
    }

    @media(max-width: 480px) {
        font-size: 1rem;
        margin: 0 auto 24px;
    }
}

.block-text {
    padding: 0 40px;

    p {
        color: #2e2e2e;
        font-family: "FuturaPTBook";
        font-size: 1rem;
        margin-bottom: 24px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

// Блок категорий

.categories-list-catalog {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    @media(max-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media(max-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media(max-width: 768px) {
        grid-template-columns: calc(50% - 4px) calc(50% - 4px);
    }

    @media(max-width: 480px) {
        gap: 8px;
    }
}

.category-cart {
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    height: 298px;
    padding: 20px 0;
    position: relative;

    img {
        max-width: 100%;
    }

    a {
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &::before {
        background-color: #01449f;
        content: "";
        display: block;
        height: 3px;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 34px;
    }

    &::after {
        border: 3px solid transparent;
        content: "";
        display: block;
        height: calc(100% - 6px);
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transition: .2s all;
        width: calc(100% - 6px);
    }

    &:hover {

        &::after {
            border: 3px solid #01449f;
        }
    }

    @media(max-width: 480px) {
        height: 220px;
        padding: 12px 0;

        img {
            width: 120px;
        }
    }
}

.category-cart__title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 16px;
    padding: 0 8px;
    text-align: center;

    @media(max-width: 768px) {
        font-size: 0.9rem;
    }

    @media(max-width: 480px) {
        margin-bottom: 8px;
    }
}



// Карточка продукта

.product-card {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
}

.product-card__label {
    align-items: center;
    background-color: #ffd21f;
    color: #191919;
    display: flex;
    font-size: 0.75rem;
    font-weight: 900;
    justify-content: center;
    height: 40px;
    position: absolute;
    left: -55px;
    transform: rotate(-45deg);
    top: 15px;
    width: 183px;
}

.product-card__top {
    border-bottom: 1px solid #e0e0e0;
    margin: 0 12px;
    padding-top: 12px;
}

.product-card__img {
    display: block;
    height: 150px;
    margin: 0 auto;
    object-fit: cover;
    width: 150px;
}

.product-card__title {
    display: block;
    font-weight: 600;
    margin-bottom: 12px;
}

.product-card__mid {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 16px 12px;
}

.product-card__existence {
    font-size: 0.75rem;
    position: relative;

    &::before {
        background-color: transparent;
        border-bottom: 3px solid #01449f;
        border-radius: 2px;
        border-right: 3px solid #01449f;
        content: "";
        height: 9px;
        left: -16px;
        position: absolute;
        transform: rotate(45deg);
        transition: all 0.2s ease-in-out;
        top: 1px;
        width: 4px;
    }
}

.product-card__price {
    font-weight: 600;
    font-size: 1.5rem;
}

.product-card__bottom {
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr;
}

.product-card__detail {
    align-items: center;
    background-color: #01449f;
    color: #FFF;
    display: flex;
    font-size: 0.825rem;
    height: 38px;
    justify-content: center;
    transition: .2s all;

    &:hover {
        background-color: #ffd21f;
        color: #191919;
    }
}

.product-card__to-basket {
    align-items: center;
    background-color: #013276;
    color: #FFF;
    display: flex;
    fill: #FFF;
    font-size: 0.825rem;
    height: 38px;
    justify-content: center;
    transition: .2s all;

    svg {
        margin-right: 8px;
        transform: scale(0.75);
    }

    &:hover {
        background-color: #ffd21f;
        color: #191919;
        fill: #191919;
    }
}

.product-card.product-card_mini {
    padding-bottom: 38px;

    .product-card__top {
        border-bottom: none;
    }

    .product-card__title {
        margin-bottom: 20px;
        margin-top: 8px;
    }

    .product-card__bottom {
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

// Блок обратите внимание

.attention-wrapper {
    position: relative;
}

.attention-tab-list {
    display: flex;
    left: 2px;
    position: absolute;
    top: -40px;

    @media(max-width: 768px) {
        justify-content: center;
        position: static;
    }
}

.attention-tab-list__item {
    margin-right: 9px;

    a {
        align-items: center;
        background-color: #01449f;
        color: #FFF;
        display: flex;
        font-size: 0.75rem;
        height: 29px;
        justify-content: center;
        padding: 0 8px;
        transition: .2s all;

        &:hover {
            background-color: #ffd21f;
            color: #191919;
        }
    }

    &.active {

        a {
            background-color: #ffd21f;
            color: #191919;
        }
    }
}

.attention-slider {
    position: relative;

    .slick-slide > div {
        display: flex;
    }

    .slick-dots {
        bottom: -35px;
        display: flex;
        position: absolute;
        right: 0;

        li {
            margin: 0 3px;

            button {
                background-color: #FFF;
                border: 1px solid #e2e2e2;
                color: #8c8c8c;
                height: 22px;
                transition: .2s all;
                width: 22px;

                &:hover {
                    background-color: #01449f;
                    border: 1px solid #01449f;
                    color: #FFF;
                }
            }

            &.slick-active {

                button {
                    background-color: #01449f;
                    border: 1px solid #01449f;
                    color: #FFF;
                }
            }
        }
    }

    @media(max-width: 768px) {
        display: none;
    }
}

.attention-slider.attention-slider_mobile {
    display: none;

    @media(max-width: 768px) {
        display: block;
    }

    .slick-slide > div {
        display: block;
    }
}

.attention-slider-card-wrapper {
    padding: 8px 4px 0;

    .product-card {
        box-shadow: none;

        &::before {
            border: 3px solid #01449f;
            content: "";
            display: block;
            height: calc(100% - 6px);
            left: 0;
            position: absolute;
            user-select: none;
            top: 0;
            width: calc(100% - 6px);
            z-index: -1;
        }
    }
}

.product-card-stock {
    height: 90px;
}

.product-card-stock__lines {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;

    span {
        color: #000;
        font-size: 0.75rem;

        &:first-of-type {
            width: 75%;
        }

        &:nth-of-type(2) {
            width: 25%;
        }
    }
}

.product-card-stock__timer {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-card-stock__timer-item {
    align-items: center;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 4px 12px;

    span:first-of-type {
        font-size: 1.5rem;
        font-weight: 600;
    }

    span:nth-of-type(2) {
        font-size: 0.75rem;
    }

    &.product-card-stock__timer-item_blue {
        background-color: #01449f;
        color: #FFF;
    }
}

// инпуты

.input-default {
    display: block;
    width: 100%;
    
    input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #172129;
        color: #172129;
        font-size: 0.75rem;
        height: 32px;
        width: 100%;
    }
}

.input-submit {
    background-color: #01449f;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-size: 0.9375rem;
    height: 38px;
    padding: 0 12px;
    transition: .2s all;

    &:hover {
        background-color: #ffd21f;
        color: #191919;
    }
}

.input-checkbox {
    cursor: pointer;
    padding-left: 20px;
    position: relative;

    input {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
    }

    span {
        display: block;
        font-size: 12px;
        padding: 4px 0;

        a {
            text-decoration: underline;
            transition: .2s all;

            &:hover {
                color: #01449f;
            }
        }

        &::before {
            background-color: #01449f;
            border: 3px solid #01449f;
            border-radius: 50%;
            content: "";
            display: block;
            height: 7px;
            left: 0;
            position: absolute;
            top: 5px;
            transition: .2s all;
            width: 7px;
        }
    }

    input:checked + span {

        &::before {
            background-color: #FFF;
        }
    }
}

.input-blue-bord {
    display: block;

    input {
        background-color: transparent;
        border: 2px solid #01449f;
        font-size: 0.875rem;
        height: 40px;
        padding: 0 12px;
        width: 100%;
    }
}

// Категория

.category {
    display: flex;

    @media(max-width: 768px) {
        flex-direction: column;
    }
}

.category-filter {
    padding-right: 12px;
    width: 206px;

    @media(max-width: 768px) {
        margin: 0 auto 24px;
        padding: 0;
    }
}

.category-slider-wrapper {
    margin-top: -6px;
    position: relative;
    width: calc(100% - 206px);

    .slick-dots {
        bottom: -25px;
        display: flex;
        position: absolute;
        right: 0;

        li {
            margin: 0 3px;

            button {
                background-color: #FFF;
                border: 1px solid #e2e2e2;
                color: #8c8c8c;
                height: 22px;
                transition: .2s all;
                width: 22px;

                &:hover {
                    background-color: #01449f;
                    border: 1px solid #01449f;
                    color: #FFF;
                }
            }

            &.slick-active {

                button {
                    background-color: #01449f;
                    border: 1px solid #01449f;
                    color: #FFF;
                }
            }
        }
    }

    @media(max-width: 768px) {
        width: 100%;
    }
}

.category-slider-card-wrapper {
    padding: 8px 4px 0;

    .product-card {
        font-size: 0.875rem;
    }

    .product-card__price {
        font-size: 1.25rem;
    }
}

.block.similiar-categories-block {
    position: relative;

    @media(max-width: 1200px) {    
        .category-cart:nth-of-type(n + 5) {
            display: none;
        }
    }

    @media(max-width: 992px) {    
        .category-cart:nth-of-type(n + 4) {
            display: none;
        }

        .show-all-btn {
            font-size: 0.875rem;
            height: 44px;
            position: static;
            margin: 24px auto 0;
            max-width: 320px;
            width: 100%;
        }
    }

    @media(max-width: 768px) {    
        .category-cart:nth-of-type(n + 3) {
            display: none;
        }
    }

    &.similiar-categories-block_index-page {
        display: none;

        @media(max-width: 768px) {
            display: block;
        }
    }
}

.show-all-btn {
    align-items: center;
    background-color: #01449f;
    bottom: 10px;
    color: #FFF;
    display: flex;
    font-size: 0.75rem;
    height: 29px;
    justify-content: center;
    left: 15px;
    padding: 0 8px;
    position: absolute;
    transition: .2s all;

    &:hover {
        background-color: #ffd21f;
        color: #191919;
    }
}



// часто покупают блок

.often-buy-list {
    display: grid;
    gap: 13px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    .product-card {

        .product-card__title {
            font-size: 0.875rem;
        }
        
        .product-card__price  {
            font-size: 1.25rem;
        }
    }

    @media(max-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media(max-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media(max-width: 576px) {
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width: 420px) {
        grid-template-columns: 1fr;
    }
}


// Услуги блок

.services {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media(max-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
    } 

    @media(max-width: 576px) {
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width: 480px) {
        gap: 4px;
    }
}

.services__item {
    align-items: center;
    background-color: #f7f7f7;
    height: 172px;
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    position: relative;
    transition: .2s all;

    div {
        fill: #01449f;
        margin-top: 48px;
        height: 60px;
        position: relative;
        transition: .2s all;

        &::after {
            background-color: #01449f;
            content: "";
            display: block;
            height: 3px;
            left: 50%;
            position: absolute;
            top: 100%;
            transform: translateX(-50%);
            width: 32px;
        }
    }

    span {
        align-items: center;
        color: #303030;
        font-size: 1.125rem;
        font-weight: 600;
        height: 60px;
        display: flex;
        text-align: center;
        transition: .2s all;
    }

    a {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &:hover {
        background-color: #01449f;

        div {
            fill: #FFF;

            &::after {
                background-color: #FFF;
            }
        }

        span {
            color: #FFF;
        }
    }

    @media(max-width: 768px) {
        height: 150px;
        padding: 0 16px;

        div {
            margin-top: 24px;
        }
    }

    @media(max-width: 480px) {

        span {
            font-size: 0.875rem;
        }
    }

    @media(max-width: 480px) {
        height: 130px;
    }
}


// Новости

.news-list {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;

    @media(max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.news-card {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    display: flex;

    img {
        display: block;
        min-height: 300px;
        object-fit: cover;
        width: 50%;
    }

    @media(max-width: 992px) {

        img {
            width: 40%;
        }
    }

    @media(max-width: 480px) {
        flex-direction: column;
        
        img {
            max-height: 200px;
            min-height: auto;
            width: 100%;
        }
    }
}

.news-card__description-wrapper {
    padding: 16px 24px 52px 24px;
    position: relative;

    @media(max-width: 480px) {
        padding: 16px 16px 52px;
    }
}

.news-card__time {
    display: block;
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: end;

    @media(max-width: 480px) {
        margin-bottom: 8px;
        text-align: start;
    }
}

.news-card__headline {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.news-card__description {
    font-family: "FuturaPTBook";
    font-size: 0.875rem;
}

.news-card__detail {
    bottom: 24px;
    color: #000;
    font-size: 0.875rem;
    left: 24px;
    position: absolute;
    text-decoration: underline;
    transition: all .2s;

    &:hover {
        color: #01449f;
        text-decoration: none;
    }

    @media(max-width: 480px) {
        bottom: 16px;
        left: 16px;
    }
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}

.filter-list__item {

    a {
        align-items: center;
        background-color: #303030;
        color: #FFF;
        display: flex;
        font-size: 0.875rem;
        height: 34px;
        justify-content: center;
        margin: 0 4px 8px 4px;
        padding: 0 16px;
        transition: all .2s;
    
        &:hover {
            background-color: #01449f;
        }

        &.active {
            background-color: #01449f;
        }
    }
}

.block.block_news-index {

    .filter-list {
        display: none;
    }

    @media (max-width: 768px) {
        .filter-list {
            display: flex;
        }
    }
}

.news-list.news-slider {
    display: block;
    margin: 0 -6px;

    .news-card {
        display: flex;
        margin: 2px 6px;
    }

    @media (max-width: 768px) {
        display: grid;
    }
}

.open-up-text {
    background-color: #f7f7f7;
    margin-bottom: 12px;
    padding: 24px 20px;

    @media(max-width: 576px) {
        padding: 16px 20px;
    }
}

.open-up-text__detail {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 0;
    position: relative;
    transition: 0.2s all;

    &::after {
        border-left: 4px solid transparent;
        border-top: 6px solid #000;
        border-right: 4px solid transparent;
        content: "";
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translate(0, -2px);
        transition: 0.2s all;
        z-index: 1;
    }

    &.active {
        margin-bottom: 16px;

        &::after {
            transform: translate(0, -1px) rotate(180deg);
        }

        & + .open-up-text__wrapper {
            display: block;
        }
    }

    &:hover {
        color: #01449f;

        &::after {
            border-top: 6px solid #01449f;
        }
    }
}

.open-up-text__wrapper {
    display: none;

    p {
        font-size: 0.875rem;
        line-height: 24px;
        margin-bottom: 24px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}


.you-watched-list {
    display: grid;
    gap: 13px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    .product-card {

        .product-card__title {
            font-size: 0.875rem;
        }
        
        .product-card__price  {
            font-size: 1.25rem;
        }
    }

    @media(max-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media(max-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media(max-width: 576px) {
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width: 420px) {
        grid-template-columns: 1fr;
    }
}


// Личный кабинет

.content-wrapper-with-side-block {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 220px;

    @media(max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.profile-form {

}

.profile-form__header {
    background-color: #f1f1f1;
    padding: 24px 15px;
}

.profile-form__headline {
    font-size: 1.375rem;
    font-weight: 600;
    margin: 0 auto;
    max-width: 485px;
    text-align: center;
}

.profile-form__main {
    background-color: #f7f7f7;
    padding: 24px 15px 48px;

    .input-blue-bord {
        margin: 0 auto 20px;
        max-width: 485px;
    }
}

.profile-form__final {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 485px;

    &.profile-form__final_entry {
        justify-content: center;

        .profile-form__forget-pass, .input-submit.profile-form__input-submit {
            margin: 0 8px;
        }
    }
}

.right-side-nav {
    align-self: flex-start;
    background-color: #f7f7f7;
    padding: 20px 16px;

    @media(max-width: 768px) {
        margin: 0 auto;
        width: 290px;
        order: -1;
    }
}

.right-side-nav__item {
    margin-bottom: 12px;

    &:last-of-type {
        margin-bottom: 0;
    }

    a {
        align-items: center;
        background-color: #eaeaea;
        display: flex;
        font-size: 0.875rem;
        height: 40px;
        justify-content: center;
        padding: 0 16px;
        transition: 0.2s all;
        width: 100%;

        &:hover {
            background-color: #01449f;
            color: #FFF;
        }
    }

    &.active {

        a {
            background-color: #01449f;
            color: #FFF;
        }
    }
}

.input-checkbox.profile-form__input-checkbox {
    max-width: 240px;
    margin-right: 24px;
}

.input-submit.profile-form__input-submit {
    width: 190px;
}

.profile-form__forget-pass {
    align-items: center;
    background-color: #303030;
    border: none;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font-size: 0.9375rem;
    height: 38px;
    justify-content: center;
    padding: 0 12px;
    transition: 0.2s all;
    width: 190px;

    &:hover {
        background-color: #01449f;
    }
}

// История заказов

.table-history {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;

    .basket-table__delete {
        margin: 8px 0;
    }

    th {
        background-color: #eaeaea;
        font-size: 0.875rem;
        font-weight: 400;
        height: 46px;
    }

    tr {

        td {
            font-size: 0.875rem;
        }

        &:nth-of-type(n + 2) {
            border-bottom: 1px solid #eaeaea;
        }

        th {

            &:nth-of-type(6) {
                width: 60px;
            }
        }

        td {
            text-align: center;

            &:nth-of-type(6) {
                width: 60px;
            }
        }
    }

    @media(max-width: 768px) {
        display: none;
    }
}

.table-history__order {
    padding: 4px;
    transition: 0.2s all;

    &:hover {
        color: #01449f;
    }
}

.table-history__status {
    align-items: center;
    background-color: #eaeaea;
    border-radius: 50px;
    font-size: 0.75rem;
    display: flex;
    height: 27px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 92px;

    &.table-history__status_delivered {
        background-color: #01449f;
        color: #FFF;
    }

    &.table-history__status_waiting {
        background-color: #eaeaea;
    }

    &.table-history__status_canceled {
        background-color: #ffd21f;
    }
}

.table-history__repeat  {
    align-items: center;
    display: flex;
    height: 45px;
    justify-content: center;
    margin: 0 auto;
    width: 45px;

    svg {
        fill: #01449f;
        transition: 0.2s all;
    }

    &:hover {

        svg {
            fill: #ffd21f;
            transform: rotate(-360deg);
        }
    }
}

.table-history-mobile {
    display: none;
    left: -15px;
    margin-bottom: 40px;
    position: relative;
    width: calc(100% + 30px);

    @media(max-width: 768px) {
        display: block;
    }
}

.table-history-mobile__item {
    border-bottom: 1px solid #e4e4e4;
}

.table-history-mobile__order {
    align-items: center;
    background-color: #e0e0e0;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    height: 36px;
    padding: 0 15px;
    transition: .2s all;

    &:hover {
        color: #01449f;
    }
}

.table-history-mobile__list {
    position: relative;

    &::after {
        background-color: #e4e4e4;
        content: "";
        display: block;
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
        width: 1px;
    }
}

.table-history-mobile__list-item {
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 0.875rem;
    padding: 14px 0;

    & > div {
        padding: 0 15px;

        &:nth-of-type(1) {
            font-weight: 600;
        }

        &:nth-of-type(2) {
            text-align: center;
        }
    }
}

.table-history-mobile__delete {
    align-items: center;
    display: flex;
    height: 45px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    transition: .2s all;
    width: 45px;

    svg {
        transform: scale(1.5);
    }

    a {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &:hover {
        fill: #01449f;
    }
}


.table-order {
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 46px;
    position: relative;
    width: 100%;

    .basket-table__delete {
        margin: 8px 0;
    }

    th {
        background-color: #f4f4f4;
        font-size: 0.875rem;
        font-weight: 400;
        height: 46px;
    }

    tr {

        td {
            font-size: 0.875rem;
        }

        &:nth-of-type(n + 2) {
            border-bottom: 1px solid #eaeaea;
        }

        th {
            padding: 0 4px;

            &:nth-of-type(1) {
                width: 75px;

                @media(max-width: 992px) {
                    width: 50px;
                }
            }

            &:nth-of-type(8) {
                width: 75px;
            }
        }

        td {
            text-align: center;

            &:nth-of-type(1) {
                width: 75px;

                @media(max-width: 992px) {
                    width: 50px;
                }
            }

            &:nth-of-type(8) {
                width: 75px;
            }
        }
    }

    @media(max-width: 768px) {
        display: none;
    }

    .basket-table__img {
        height: 75px;
        width: 75px;

        @media(max-width: 992px) {
            height: 50px;
            width: 50px;
        }
    }

    .basket-table__description {
        max-width: 200px;
        padding: 0 0 0 8px;
        text-align: start;
    }

    .basket-table__headline {

        @media(max-width: 992px) {
            font-size: 1rem;
        }
    }

    &::before {
        background-color: #eaeaea;
        content: "";
        display: block;
        height: 46px;
        position: absolute;
        top: -46px;
        width: 100%;
    }
}

.repeat-order {
    align-items: center;
    background-color: #01449f;
    color: #FFF;
    display: flex;
    font-size: 0.875rem;
    height: 36px;
    justify-content: center;
    margin: 0 0 0 auto;
    transition: all .2s;
    width: 152px;

    &:hover {
        background-color: #ffd21f;
        color: #191919;
    }

    @media(max-width: 768px) {
        margin: 0 auto;
        width: 290px;
    }
}

.table-history-mobile__header {
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    padding: 16px 15px;

    span {
        font-size: 1.25rem;
        font-weight: 600;
        text-transform: uppercase;

        @media(max-width: 576px) {
            font-size: 1rem;
        }
    }

    img {
        display: block;
        height: 150px;
        margin: 20px auto 0;
        object-fit: cover;
        width: 150px;

        @media(max-width: 576px) {
            height: 125px;
            width: 125px;
        }

        @media(max-width: 480px) {
            height: 100px;
            width: 100px;
        }
    }
}