.block
    h1.block-headline Моя корзина
    table.basket-table
        tr
            th
            th Товар
            th Количество
            th Цена за ед.
            th Сумма
            th
        tr
            td
                img.basket-table__img(src="assets/img/product_01.png", alt="")
            td
                .basket-table__description
                    a(href="product.html").basket-table__headline Ручка-кнопка
                    span.basket-table__article Артикул: 1232
                    span.product-card__existence В наличии
            td
                .basket-table__counter
                    a(href="javascript:;").basket-table__counter-less –
                    input(type="text", value="1" readonly)
                    a(href="javascript:;").basket-table__counter-more +
            td.basket-table__price 279 &#8381;
            td.basket-table__price 1 679 &#8381;
            td
                .basket-table__delete
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="16px">
                        <path d="M7.482,9.290 C7.419,9.388 7.393,9.449 7.349,9.493 C5.601,11.258 3.852,13.020 2.103,14.783 C1.826,15.062 1.670,15.065 1.380,14.793 C0.977,14.416 0.575,14.038 0.173,13.660 C-0.064,13.438 -0.067,13.261 0.164,13.028 C1.946,11.232 3.728,9.436 5.510,7.641 C5.554,7.596 5.597,7.550 5.648,7.497 C5.593,7.439 5.546,7.389 5.498,7.340 C3.724,5.552 1.951,3.765 0.177,1.977 C-0.072,1.726 -0.070,1.562 0.185,1.321 C0.595,0.935 1.006,0.549 1.417,0.164 C1.658,-0.062 1.833,-0.060 2.064,0.172 C3.818,1.939 5.572,3.705 7.324,5.473 C7.377,5.526 7.415,5.592 7.485,5.687 C7.577,5.578 7.628,5.508 7.688,5.447 C9.429,3.692 11.170,1.938 12.911,0.183 C13.153,-0.061 13.325,-0.065 13.571,0.165 C13.982,0.551 14.393,0.936 14.803,1.322 C15.055,1.559 15.057,1.731 14.812,1.978 C13.033,3.769 11.255,5.560 9.477,7.352 C9.433,7.396 9.390,7.442 9.337,7.498 C9.692,7.856 10.038,8.206 10.384,8.555 C11.852,10.034 13.319,11.512 14.787,12.990 C15.065,13.270 15.065,13.425 14.779,13.695 C14.378,14.073 13.976,14.451 13.573,14.829 C13.334,15.053 13.151,15.051 12.924,14.822 C11.170,13.056 9.417,11.289 7.665,9.521 C7.612,9.468 7.572,9.404 7.482,9.290 Z"/>
                    </svg>
                    span Удалить
                    a(href="javascript:;")
        tr
            td
                img.basket-table__img(src="assets/img/product_02.png", alt="")
            td
                .basket-table__description
                    a(href="product.html").basket-table__headline Ручка-кнопка Ручка-кнопка Ручка-кнопка
                    span.basket-table__article Артикул: 12323342
                    span.product-card__existence В наличии
            td
                .basket-table__counter
                    a(href="javascript:;").basket-table__counter-less –
                    input(type="text", value="145" readonly)
                    a(href="javascript:;").basket-table__counter-more +
            td.basket-table__price 15 000 &#8381;
            td.basket-table__price 3 000 000 &#8381;
            td
                .basket-table__delete
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="16px">
                        <path d="M7.482,9.290 C7.419,9.388 7.393,9.449 7.349,9.493 C5.601,11.258 3.852,13.020 2.103,14.783 C1.826,15.062 1.670,15.065 1.380,14.793 C0.977,14.416 0.575,14.038 0.173,13.660 C-0.064,13.438 -0.067,13.261 0.164,13.028 C1.946,11.232 3.728,9.436 5.510,7.641 C5.554,7.596 5.597,7.550 5.648,7.497 C5.593,7.439 5.546,7.389 5.498,7.340 C3.724,5.552 1.951,3.765 0.177,1.977 C-0.072,1.726 -0.070,1.562 0.185,1.321 C0.595,0.935 1.006,0.549 1.417,0.164 C1.658,-0.062 1.833,-0.060 2.064,0.172 C3.818,1.939 5.572,3.705 7.324,5.473 C7.377,5.526 7.415,5.592 7.485,5.687 C7.577,5.578 7.628,5.508 7.688,5.447 C9.429,3.692 11.170,1.938 12.911,0.183 C13.153,-0.061 13.325,-0.065 13.571,0.165 C13.982,0.551 14.393,0.936 14.803,1.322 C15.055,1.559 15.057,1.731 14.812,1.978 C13.033,3.769 11.255,5.560 9.477,7.352 C9.433,7.396 9.390,7.442 9.337,7.498 C9.692,7.856 10.038,8.206 10.384,8.555 C11.852,10.034 13.319,11.512 14.787,12.990 C15.065,13.270 15.065,13.425 14.779,13.695 C14.378,14.073 13.976,14.451 13.573,14.829 C13.334,15.053 13.151,15.051 12.924,14.822 C11.170,13.056 9.417,11.289 7.665,9.521 C7.612,9.468 7.572,9.404 7.482,9.290 Z"/>
                    </svg>
                    span Удалить
                    a(href="javascript:;")