.main-slider-block
    h2.block-headline.main-slider-block__block-headline Фурнитура всегда в наличии
    .main-slider.js--main-slider
        .main-slider__item
            img(src="assets/img/stock_01.png", alt="")
            h3.main-slider__item-headline Бесспорно <br> низкие цены
            a.main-slider__item-link Убедитесь сами
            span.main-slider__item-label Акция!
        .main-slider__item
            img(src="assets/img/stock_01.png", alt="")
            h3.main-slider__item-headline Убедительно <br> низкие цены
            a.main-slider__item-link Убедитесь сами
            span.main-slider__item-label Акция!
        .main-slider__item
            img(src="assets/img/stock_01.png", alt="")
            h3.main-slider__item-headline Космически <br> низкие цены
            a.main-slider__item-link Убедитесь сами
            span.main-slider__item-label Акция!
        .main-slider__item
            img(src="assets/img/stock_01.png", alt="")
            h3.main-slider__item-headline Адово <br> низкие цены
            a.main-slider__item-link Убедитесь сами
            span.main-slider__item-label Акция!