.block
    h2.block-headline.js--block-headline_choose-zone Выберите зону на карте и мы предоставим решение вашей ситуации
    .choose-zone-wrapper
        ul.choose-zone-list
            li.choose-zone-list__item
                a(href="#") Кухня
                include ../_common/svg/burger-half.svg
            li.choose-zone-list__item
                a(href="#") Детская
            li.choose-zone-list__item
                a(href="#") Кабинет
            li.choose-zone-list__item
                a(href="#") Гостиная
            li.choose-zone-list__item
                a(href="#") Спальня
            li.choose-zone-list__item
                a(href="#") Ванная
            li.choose-zone-list__item
                a(href="#") Прихожая
            li.choose-zone-list__item
                a(href="#") Гардеробная
            li.choose-zone-list__item
                a(href="#") Мастерская
        .chooze-zone
            img(src="assets/img/choose-zone.png", alt="")
            ul.choose-zone-list-on-image
                li.choose-zone-list-on-image__item._kitchen
                    a(href="#") Кухня
                li.choose-zone-list-on-image__item._playroom
                    a(href="#") Детская
                li.choose-zone-list-on-image__item._cabinet
                    a(href="#") Кабинет
                li.choose-zone-list-on-image__item._living-room
                    a(href="#") Гостиная
                li.choose-zone-list-on-image__item._bedroom
                    a(href="#") Спальня
                li.choose-zone-list-on-image__item._bathroom
                    a(href="#") Ванная
                li.choose-zone-list-on-image__item._hallway
                    a(href="#") Прихожая
                li.choose-zone-list-on-image__item._wardrobe
                    a(href="#") Гардеробная
                li.choose-zone-list-on-image__item._workshop
                    a(href="#") Мастерская