doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container.container_main
                include ./templates/aside-catalog/aside-catalog.pug
                .content-wrapper
                    include ./templates/basket-table/basket-table.pug
                    .block
                        h2.block-headline Вы смотрели на сайте
                        ul.you-watched-list
                            li.product-card.product-card_mini
                                .product-card__top
                                    img.product-card__img(src="assets/img/product_01.png", alt="")
                                    span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                .product-card__bottom
                                    a(href="javascript:;").product-card__to-basket 
                                        include templates/_common/svg/basket.svg 
                                        | В корзину
                            li.product-card.product-card_mini
                                .product-card__top
                                    img.product-card__img(src="assets/img/product_01.png", alt="")
                                    span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                .product-card__bottom
                                    a(href="javascript:;").product-card__to-basket 
                                        include templates/_common/svg/basket.svg 
                                        | В корзину
                            li.product-card.product-card_mini
                                .product-card__top
                                    img.product-card__img(src="assets/img/product_01.png", alt="")
                                    span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                .product-card__bottom
                                    a(href="javascript:;").product-card__to-basket 
                                        include templates/_common/svg/basket.svg 
                                        | В корзину
                            li.product-card.product-card_mini
                                .product-card__top
                                    img.product-card__img(src="assets/img/product_01.png", alt="")
                                    span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                .product-card__bottom
                                    a(href="javascript:;").product-card__to-basket 
                                        include templates/_common/svg/basket.svg 
                                        | В корзину
                            li.product-card.product-card_mini
                                .product-card__top
                                    img.product-card__img(src="assets/img/product_01.png", alt="")
                                    span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                .product-card__bottom
                                    a(href="javascript:;").product-card__to-basket 
                                        include templates/_common/svg/basket.svg 
                                        | В корзину
        footer
            include ./templates/footer/footer.pug