doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container.container_main
                include ./templates/aside-catalog/aside-catalog.pug
                .content-wrapper
                    .block
                        h2.block-headline Мебельные ручки-кнопки
                        .category
                            .category-filter
                                img(src="assets/img/filter.png", alt="")
                            .category-slider-wrapper
                                .category-slider.js--category-slider
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину
                                    .category-slider-card-wrapper
                                        .product-card
                                            .product-card__top
                                                img.product-card__img(src="assets/img/product_01.png", alt="")
                                                span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                            .product-card__mid
                                                span.product-card__existence В наличии
                                                span.product-card__price 279 &#8381;
                                            .product-card__bottom
                                                a(href="product.html").product-card__detail Подробнее
                                                a(href="javascript:;").product-card__to-basket 
                                                    include templates/_common/svg/basket.svg 
                                                    | В корзину      
                    .block.similiar-categories-block
                        h2.block-headline Посмотрите похожие категории товаров                  
                        ul.categories-list-catalog
                            li.category-cart
                                span.category-cart__title Мебель
                                img(src="assets/img/ct-furniture.png", alt="")
                                a(href="category.html")
                            li.category-cart
                                span.category-cart__title Изделия <br> из пластмассы
                                img(src="assets/img/ct-plastic.png", alt="")
                                a(href="category.html")
                            li.category-cart
                                span.category-cart__title Освещение и электрика
                                img(src="assets/img/ct-electric.png", alt="")
                                a(href="category.html")
                            li.category-cart
                                span.category-cart__title Кромкооблицовочные материалы
                                img(src="assets/img/ct-edging.png", alt="")
                                a(href="category.html")
                            li.category-cart
                                span.category-cart__title Подъёмные механизмы
                                img(src="assets/img/ct-elevating.png", alt="") 
                                a(href="category.html")
                        a(href="#").show-all-btn Показать все категории
                    include ./templates/global-search/global-search.pug
                    .block
                        h2.block-headline Обрати внимание
                        .attention-wrapper
                            ul.attention-tab-list
                                li.attention-tab-list__item
                                    a(href="javascript:;") Хит продаж
                                li.attention-tab-list__item.active
                                    a(href="javascript:;") Популярное
                                li.attention-tab-list__item
                                    a(href="javascript:;") Готовые наборы
                            .attention-slider.js--attention-slider
                                .attention-slider-card-wrapper
                                    .product-card
                                        .product-card__top
                                            img.product-card__img(src="assets/img/product_01.png", alt="")
                                            span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                        .product-card__mid
                                            span.product-card__existence В наличии
                                            span.product-card__price 279 &#8381;
                                        .product-card__bottom
                                            a(href="product.html").product-card__detail Подробнее
                                            a(href="javascript:;").product-card__to-basket 
                                                include templates/_common/svg/basket.svg 
                                                | В корзину
                                    .product-card-stock
                                        .product-card-stock__lines
                                            span До конца акции
                                            span Остаток
                                        ul.product-card-stock__timer
                                            li.product-card-stock__timer-item
                                                span 478
                                                span дней
                                            li.product-card-stock__timer-item
                                                span 23
                                                span часов
                                            li.product-card-stock__timer-item
                                                span 33
                                                span минут
                                            li.product-card-stock__timer-item.product-card-stock__timer-item_blue
                                                span 500
                                                span штук
                                .attention-slider-card-wrapper
                                    .product-card
                                        .product-card__top
                                            img.product-card__img(src="assets/img/product_01.png", alt="")
                                            span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                        .product-card__mid
                                            span.product-card__existence В наличии
                                            span.product-card__price 279 &#8381;
                                        .product-card__bottom
                                            a(href="product.html").product-card__detail Подробнее
                                            a(href="javascript:;").product-card__to-basket 
                                                include templates/_common/svg/basket.svg 
                                                | В корзину
                                    .product-card-stock
                                        .product-card-stock__lines
                                            span До конца акции
                                            span Остаток
                                        ul.product-card-stock__timer
                                            li.product-card-stock__timer-item
                                                span 478
                                                span дней
                                            li.product-card-stock__timer-item
                                                span 23
                                                span часов
                                            li.product-card-stock__timer-item
                                                span 33
                                                span минут
                                            li.product-card-stock__timer-item.product-card-stock__timer-item_blue
                                                span 500
                                                span штук
                                .attention-slider-card-wrapper
                                    .product-card
                                        span.product-card__label Популярное
                                        .product-card__top
                                            img.product-card__img(src="assets/img/product_01.png", alt="")
                                            span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                        .product-card__mid
                                            span.product-card__existence В наличии
                                            span.product-card__price 279 &#8381;
                                        .product-card__bottom
                                            a(href="product.html").product-card__detail Подробнее
                                            a(href="javascript:;").product-card__to-basket 
                                                include templates/_common/svg/basket.svg 
                                                | В корзину
                                    .product-card-stock
                                        .product-card-stock__lines
                                            span До конца акции
                                            span Остаток
                                        ul.product-card-stock__timer
                                            li.product-card-stock__timer-item
                                                span 478
                                                span дней
                                            li.product-card-stock__timer-item
                                                span 23
                                                span часов
                                            li.product-card-stock__timer-item
                                                span 33
                                                span минут
                                            li.product-card-stock__timer-item.product-card-stock__timer-item_blue
                                                span 500
                                                span штук
                                .attention-slider-card-wrapper
                                    .product-card
                                        .product-card__top
                                            img.product-card__img(src="assets/img/product_01.png", alt="")
                                            span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                        .product-card__mid
                                            span.product-card__existence В наличии
                                            span.product-card__price 279 &#8381;
                                        .product-card__bottom
                                            a(href="product.html").product-card__detail Подробнее
                                            a(href="javascript:;").product-card__to-basket 
                                                include templates/_common/svg/basket.svg 
                                                | В корзину
                                    .product-card-stock
                                        .product-card-stock__lines
                                            span До конца акции
                                            span Остаток
                                        ul.product-card-stock__timer
                                            li.product-card-stock__timer-item
                                                span 478
                                                span дней
                                            li.product-card-stock__timer-item
                                                span 23
                                                span часов
                                            li.product-card-stock__timer-item
                                                span 33
                                                span минут
                                            li.product-card-stock__timer-item.product-card-stock__timer-item_blue
                                                span 500
                                                span штук
                                .attention-slider-card-wrapper
                                    .product-card
                                        .product-card__top
                                            img.product-card__img(src="assets/img/product_01.png", alt="")
                                            span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                        .product-card__mid
                                            span.product-card__existence В наличии
                                            span.product-card__price 279 &#8381;
                                        .product-card__bottom
                                            a(href="product.html").product-card__detail Подробнее
                                            a(href="javascript:;").product-card__to-basket 
                                                include templates/_common/svg/basket.svg 
                                                | В корзину
                                    .product-card-stock
                                        .product-card-stock__lines
                                            span До конца акции
                                            span Остаток
                                        ul.product-card-stock__timer
                                            li.product-card-stock__timer-item
                                                span 478
                                                span дней
                                            li.product-card-stock__timer-item
                                                span 23
                                                span часов
                                            li.product-card-stock__timer-item
                                                span 33
                                                span минут
                                            li.product-card-stock__timer-item.product-card-stock__timer-item_blue
                                                span 500
                                                span штук
                                .attention-slider-card-wrapper
                                    .product-card
                                        .product-card__top
                                            img.product-card__img(src="assets/img/product_01.png", alt="")
                                            span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                        .product-card__mid
                                            span.product-card__existence В наличии
                                            span.product-card__price 279 &#8381;
                                        .product-card__bottom
                                            a(href="product.html").product-card__detail Подробнее
                                            a(href="javascript:;").product-card__to-basket 
                                                include templates/_common/svg/basket.svg 
                                                | В корзину
                                    .product-card-stock
                                        .product-card-stock__lines
                                            span До конца акции
                                            span Остаток
                                        ul.product-card-stock__timer
                                            li.product-card-stock__timer-item
                                                span 478
                                                span дней
                                            li.product-card-stock__timer-item
                                                span 23
                                                span часов
                                            li.product-card-stock__timer-item
                                                span 33
                                                span минут
                                            li.product-card-stock__timer-item.product-card-stock__timer-item_blue
                                                span 500
                                                span штук
                                .attention-slider-card-wrapper
                                    .product-card
                                        .product-card__top
                                            img.product-card__img(src="assets/img/product_01.png", alt="")
                                            span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                        .product-card__mid
                                            span.product-card__existence В наличии
                                            span.product-card__price 279 &#8381;
                                        .product-card__bottom
                                            a(href="product.html").product-card__detail Подробнее
                                            a(href="javascript:;").product-card__to-basket 
                                                include templates/_common/svg/basket.svg 
                                                | В корзину
                                    .product-card-stock
                                        .product-card-stock__lines
                                            span До конца акции
                                            span Остаток
                                        ul.product-card-stock__timer
                                            li.product-card-stock__timer-item
                                                span 478
                                                span дней
                                            li.product-card-stock__timer-item
                                                span 23
                                                span часов
                                            li.product-card-stock__timer-item
                                                span 33
                                                span минут
                                            li.product-card-stock__timer-item.product-card-stock__timer-item_blue
                                                span 500
                                                span штук
                                .attention-slider-card-wrapper
                                    .product-card
                                        .product-card__top
                                            img.product-card__img(src="assets/img/product_01.png", alt="")
                                            span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                        .product-card__mid
                                            span.product-card__existence В наличии
                                            span.product-card__price 279 &#8381;
                                        .product-card__bottom
                                            a(href="product.html").product-card__detail Подробнее
                                            a(href="javascript:;").product-card__to-basket 
                                                include templates/_common/svg/basket.svg 
                                                | В корзину
                                    .product-card-stock
                                        .product-card-stock__lines
                                            span До конца акции
                                            span Остаток
                                        ul.product-card-stock__timer
                                            li.product-card-stock__timer-item
                                                span 478
                                                span дней
                                            li.product-card-stock__timer-item
                                                span 23
                                                span часов
                                            li.product-card-stock__timer-item
                                                span 33
                                                span минут
                                            li.product-card-stock__timer-item.product-card-stock__timer-item_blue
                                                span 500
                                                span штук
                                .attention-slider-card-wrapper
                                    .product-card
                                        .product-card__top
                                            img.product-card__img(src="assets/img/product_01.png", alt="")
                                            span.product-card__title Заглушка кабель-канала. Размер 80 х 80 мм
                                        .product-card__mid
                                            span.product-card__existence В наличии
                                            span.product-card__price 279 &#8381;
                                        .product-card__bottom
                                            a(href="product.html").product-card__detail Подробнее
                                            a(href="javascript:;").product-card__to-basket 
                                                include templates/_common/svg/basket.svg 
                                                | В корзину
                                    .product-card-stock
                                        .product-card-stock__lines
                                            span До конца акции
                                            span Остаток
                                        ul.product-card-stock__timer
                                            li.product-card-stock__timer-item
                                                span 478
                                                span дней
                                            li.product-card-stock__timer-item
                                                span 23
                                                span часов
                                            li.product-card-stock__timer-item
                                                span 33
                                                span минут
                                            li.product-card-stock__timer-item.product-card-stock__timer-item_blue
                                                span 500
                                                span штук
  
        footer
            include ./templates/footer/footer.pug