doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container.container_main
                include ./templates/aside-catalog/aside-catalog.pug
                .content-wrapper
                    .block
                        h1.block-headline История заказов
                        .content-wrapper-with-side-block
                            table.table-history
                                tr
                                    th Дата
                                    th № Заказа
                                    th Сумма заказа
                                    th Статус заказа
                                    th Повторить
                                    th Удалить
                                tr
                                    td 
                                        time(datatime='2020-08-31') 31.08.2020
                                    td 
                                        a(href="order.html").table-history__order 20
                                    td 359 &#8381;
                                    td
                                        span.table-history__status.table-history__status_delivered Доставлен
                                    td
                                        a(href="javascript:;").table-history__repeat 
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="35px">
                                                <path  d="M25.563,9.967 C23.182,7.560 20.090,6.105 16.804,5.763 L19.192,3.349 C20.082,2.451 20.146,1.215 19.336,0.603 C18.525,-0.009 17.132,0.227 16.242,1.126 L13.842,3.549 C12.953,4.448 11.466,5.685 10.540,6.297 C10.194,6.525 9.978,6.807 9.890,7.105 C9.743,7.602 9.960,8.138 10.540,8.521 C11.465,9.133 12.952,10.370 13.841,11.269 L16.242,13.693 C16.937,14.396 17.938,14.690 18.731,14.494 C18.952,14.440 19.158,14.348 19.335,14.215 C20.113,13.628 20.084,12.468 19.297,11.581 C19.262,11.543 19.229,11.504 19.192,11.467 L17.035,9.288 C19.328,9.652 21.458,10.725 23.135,12.419 C25.229,14.534 26.382,17.345 26.382,20.335 C26.382,23.325 25.229,26.136 23.137,28.249 C22.945,28.443 22.746,28.625 22.544,28.801 C18.196,32.600 11.597,32.420 7.467,28.249 C3.147,23.885 3.148,16.783 7.468,12.418 L5.040,9.966 C4.655,10.355 4.296,10.764 3.960,11.188 C1.906,13.776 0.789,16.968 0.789,20.334 C0.788,24.251 2.298,27.933 5.039,30.701 C7.781,33.472 11.426,34.998 15.302,34.998 C18.908,34.997 22.312,33.676 24.976,31.263 C25.176,31.081 25.373,30.895 25.564,30.701 C28.306,27.933 29.815,24.252 29.815,20.335 C29.815,16.419 28.305,12.736 25.563,9.967 Z"/>
                                            </svg>
                                    td
                                        .basket-table__delete
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="16px">
                                                <path d="M7.482,9.290 C7.419,9.388 7.393,9.449 7.349,9.493 C5.601,11.258 3.852,13.020 2.103,14.783 C1.826,15.062 1.670,15.065 1.380,14.793 C0.977,14.416 0.575,14.038 0.173,13.660 C-0.064,13.438 -0.067,13.261 0.164,13.028 C1.946,11.232 3.728,9.436 5.510,7.641 C5.554,7.596 5.597,7.550 5.648,7.497 C5.593,7.439 5.546,7.389 5.498,7.340 C3.724,5.552 1.951,3.765 0.177,1.977 C-0.072,1.726 -0.070,1.562 0.185,1.321 C0.595,0.935 1.006,0.549 1.417,0.164 C1.658,-0.062 1.833,-0.060 2.064,0.172 C3.818,1.939 5.572,3.705 7.324,5.473 C7.377,5.526 7.415,5.592 7.485,5.687 C7.577,5.578 7.628,5.508 7.688,5.447 C9.429,3.692 11.170,1.938 12.911,0.183 C13.153,-0.061 13.325,-0.065 13.571,0.165 C13.982,0.551 14.393,0.936 14.803,1.322 C15.055,1.559 15.057,1.731 14.812,1.978 C13.033,3.769 11.255,5.560 9.477,7.352 C9.433,7.396 9.390,7.442 9.337,7.498 C9.692,7.856 10.038,8.206 10.384,8.555 C11.852,10.034 13.319,11.512 14.787,12.990 C15.065,13.270 15.065,13.425 14.779,13.695 C14.378,14.073 13.976,14.451 13.573,14.829 C13.334,15.053 13.151,15.051 12.924,14.822 C11.170,13.056 9.417,11.289 7.665,9.521 C7.612,9.468 7.572,9.404 7.482,9.290 Z"/>
                                            </svg>
                                            span Удалить
                                            a(href="javascript:;")
                                tr
                                    td 
                                        time(datatime='2020-08-31') 31.08.2020
                                    td 
                                        a(href="order.html").table-history__order 007654
                                    td 12 359 &#8381;
                                    td
                                        span.table-history__status.table-history__status_waiting Ждёт оплаты
                                    td
                                        a(href="javascript:;").table-history__repeat 
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="35px">
                                                <path  d="M25.563,9.967 C23.182,7.560 20.090,6.105 16.804,5.763 L19.192,3.349 C20.082,2.451 20.146,1.215 19.336,0.603 C18.525,-0.009 17.132,0.227 16.242,1.126 L13.842,3.549 C12.953,4.448 11.466,5.685 10.540,6.297 C10.194,6.525 9.978,6.807 9.890,7.105 C9.743,7.602 9.960,8.138 10.540,8.521 C11.465,9.133 12.952,10.370 13.841,11.269 L16.242,13.693 C16.937,14.396 17.938,14.690 18.731,14.494 C18.952,14.440 19.158,14.348 19.335,14.215 C20.113,13.628 20.084,12.468 19.297,11.581 C19.262,11.543 19.229,11.504 19.192,11.467 L17.035,9.288 C19.328,9.652 21.458,10.725 23.135,12.419 C25.229,14.534 26.382,17.345 26.382,20.335 C26.382,23.325 25.229,26.136 23.137,28.249 C22.945,28.443 22.746,28.625 22.544,28.801 C18.196,32.600 11.597,32.420 7.467,28.249 C3.147,23.885 3.148,16.783 7.468,12.418 L5.040,9.966 C4.655,10.355 4.296,10.764 3.960,11.188 C1.906,13.776 0.789,16.968 0.789,20.334 C0.788,24.251 2.298,27.933 5.039,30.701 C7.781,33.472 11.426,34.998 15.302,34.998 C18.908,34.997 22.312,33.676 24.976,31.263 C25.176,31.081 25.373,30.895 25.564,30.701 C28.306,27.933 29.815,24.252 29.815,20.335 C29.815,16.419 28.305,12.736 25.563,9.967 Z"/>
                                            </svg>
                                    td
                                        .basket-table__delete
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="16px">
                                                <path d="M7.482,9.290 C7.419,9.388 7.393,9.449 7.349,9.493 C5.601,11.258 3.852,13.020 2.103,14.783 C1.826,15.062 1.670,15.065 1.380,14.793 C0.977,14.416 0.575,14.038 0.173,13.660 C-0.064,13.438 -0.067,13.261 0.164,13.028 C1.946,11.232 3.728,9.436 5.510,7.641 C5.554,7.596 5.597,7.550 5.648,7.497 C5.593,7.439 5.546,7.389 5.498,7.340 C3.724,5.552 1.951,3.765 0.177,1.977 C-0.072,1.726 -0.070,1.562 0.185,1.321 C0.595,0.935 1.006,0.549 1.417,0.164 C1.658,-0.062 1.833,-0.060 2.064,0.172 C3.818,1.939 5.572,3.705 7.324,5.473 C7.377,5.526 7.415,5.592 7.485,5.687 C7.577,5.578 7.628,5.508 7.688,5.447 C9.429,3.692 11.170,1.938 12.911,0.183 C13.153,-0.061 13.325,-0.065 13.571,0.165 C13.982,0.551 14.393,0.936 14.803,1.322 C15.055,1.559 15.057,1.731 14.812,1.978 C13.033,3.769 11.255,5.560 9.477,7.352 C9.433,7.396 9.390,7.442 9.337,7.498 C9.692,7.856 10.038,8.206 10.384,8.555 C11.852,10.034 13.319,11.512 14.787,12.990 C15.065,13.270 15.065,13.425 14.779,13.695 C14.378,14.073 13.976,14.451 13.573,14.829 C13.334,15.053 13.151,15.051 12.924,14.822 C11.170,13.056 9.417,11.289 7.665,9.521 C7.612,9.468 7.572,9.404 7.482,9.290 Z"/>
                                            </svg>
                                            span Удалить
                                            a(href="javascript:;")
                                tr
                                    td 
                                        time(datatime='2020-08-31') 31.08.2020
                                    td 
                                        a(href="order.html").table-history__order 456
                                    td 359 &#8381;
                                    td
                                        span.table-history__status.table-history__status_canceled Отменён
                                    td
                                        a(href="javascript:;").table-history__repeat 
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="35px">
                                                <path  d="M25.563,9.967 C23.182,7.560 20.090,6.105 16.804,5.763 L19.192,3.349 C20.082,2.451 20.146,1.215 19.336,0.603 C18.525,-0.009 17.132,0.227 16.242,1.126 L13.842,3.549 C12.953,4.448 11.466,5.685 10.540,6.297 C10.194,6.525 9.978,6.807 9.890,7.105 C9.743,7.602 9.960,8.138 10.540,8.521 C11.465,9.133 12.952,10.370 13.841,11.269 L16.242,13.693 C16.937,14.396 17.938,14.690 18.731,14.494 C18.952,14.440 19.158,14.348 19.335,14.215 C20.113,13.628 20.084,12.468 19.297,11.581 C19.262,11.543 19.229,11.504 19.192,11.467 L17.035,9.288 C19.328,9.652 21.458,10.725 23.135,12.419 C25.229,14.534 26.382,17.345 26.382,20.335 C26.382,23.325 25.229,26.136 23.137,28.249 C22.945,28.443 22.746,28.625 22.544,28.801 C18.196,32.600 11.597,32.420 7.467,28.249 C3.147,23.885 3.148,16.783 7.468,12.418 L5.040,9.966 C4.655,10.355 4.296,10.764 3.960,11.188 C1.906,13.776 0.789,16.968 0.789,20.334 C0.788,24.251 2.298,27.933 5.039,30.701 C7.781,33.472 11.426,34.998 15.302,34.998 C18.908,34.997 22.312,33.676 24.976,31.263 C25.176,31.081 25.373,30.895 25.564,30.701 C28.306,27.933 29.815,24.252 29.815,20.335 C29.815,16.419 28.305,12.736 25.563,9.967 Z"/>
                                            </svg>
                                    td
                                        .basket-table__delete
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="16px">
                                                <path d="M7.482,9.290 C7.419,9.388 7.393,9.449 7.349,9.493 C5.601,11.258 3.852,13.020 2.103,14.783 C1.826,15.062 1.670,15.065 1.380,14.793 C0.977,14.416 0.575,14.038 0.173,13.660 C-0.064,13.438 -0.067,13.261 0.164,13.028 C1.946,11.232 3.728,9.436 5.510,7.641 C5.554,7.596 5.597,7.550 5.648,7.497 C5.593,7.439 5.546,7.389 5.498,7.340 C3.724,5.552 1.951,3.765 0.177,1.977 C-0.072,1.726 -0.070,1.562 0.185,1.321 C0.595,0.935 1.006,0.549 1.417,0.164 C1.658,-0.062 1.833,-0.060 2.064,0.172 C3.818,1.939 5.572,3.705 7.324,5.473 C7.377,5.526 7.415,5.592 7.485,5.687 C7.577,5.578 7.628,5.508 7.688,5.447 C9.429,3.692 11.170,1.938 12.911,0.183 C13.153,-0.061 13.325,-0.065 13.571,0.165 C13.982,0.551 14.393,0.936 14.803,1.322 C15.055,1.559 15.057,1.731 14.812,1.978 C13.033,3.769 11.255,5.560 9.477,7.352 C9.433,7.396 9.390,7.442 9.337,7.498 C9.692,7.856 10.038,8.206 10.384,8.555 C11.852,10.034 13.319,11.512 14.787,12.990 C15.065,13.270 15.065,13.425 14.779,13.695 C14.378,14.073 13.976,14.451 13.573,14.829 C13.334,15.053 13.151,15.051 12.924,14.822 C11.170,13.056 9.417,11.289 7.665,9.521 C7.612,9.468 7.572,9.404 7.482,9.290 Z"/>
                                            </svg>
                                            span Удалить
                                            a(href="javascript:;")
                                tr
                                    td 
                                        time(datatime='2020-08-31') 31.08.2020
                                    td 
                                        a(href="order.html").table-history__order 007654
                                    td 359 359 &#8381;
                                    td
                                        span.table-history__status.table-history__status_delivered Доставлен
                                    td
                                        a(href="javascript:;").table-history__repeat 
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="35px">
                                                <path  d="M25.563,9.967 C23.182,7.560 20.090,6.105 16.804,5.763 L19.192,3.349 C20.082,2.451 20.146,1.215 19.336,0.603 C18.525,-0.009 17.132,0.227 16.242,1.126 L13.842,3.549 C12.953,4.448 11.466,5.685 10.540,6.297 C10.194,6.525 9.978,6.807 9.890,7.105 C9.743,7.602 9.960,8.138 10.540,8.521 C11.465,9.133 12.952,10.370 13.841,11.269 L16.242,13.693 C16.937,14.396 17.938,14.690 18.731,14.494 C18.952,14.440 19.158,14.348 19.335,14.215 C20.113,13.628 20.084,12.468 19.297,11.581 C19.262,11.543 19.229,11.504 19.192,11.467 L17.035,9.288 C19.328,9.652 21.458,10.725 23.135,12.419 C25.229,14.534 26.382,17.345 26.382,20.335 C26.382,23.325 25.229,26.136 23.137,28.249 C22.945,28.443 22.746,28.625 22.544,28.801 C18.196,32.600 11.597,32.420 7.467,28.249 C3.147,23.885 3.148,16.783 7.468,12.418 L5.040,9.966 C4.655,10.355 4.296,10.764 3.960,11.188 C1.906,13.776 0.789,16.968 0.789,20.334 C0.788,24.251 2.298,27.933 5.039,30.701 C7.781,33.472 11.426,34.998 15.302,34.998 C18.908,34.997 22.312,33.676 24.976,31.263 C25.176,31.081 25.373,30.895 25.564,30.701 C28.306,27.933 29.815,24.252 29.815,20.335 C29.815,16.419 28.305,12.736 25.563,9.967 Z"/>
                                            </svg>
                                    td
                                        .basket-table__delete
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="16px">
                                                <path d="M7.482,9.290 C7.419,9.388 7.393,9.449 7.349,9.493 C5.601,11.258 3.852,13.020 2.103,14.783 C1.826,15.062 1.670,15.065 1.380,14.793 C0.977,14.416 0.575,14.038 0.173,13.660 C-0.064,13.438 -0.067,13.261 0.164,13.028 C1.946,11.232 3.728,9.436 5.510,7.641 C5.554,7.596 5.597,7.550 5.648,7.497 C5.593,7.439 5.546,7.389 5.498,7.340 C3.724,5.552 1.951,3.765 0.177,1.977 C-0.072,1.726 -0.070,1.562 0.185,1.321 C0.595,0.935 1.006,0.549 1.417,0.164 C1.658,-0.062 1.833,-0.060 2.064,0.172 C3.818,1.939 5.572,3.705 7.324,5.473 C7.377,5.526 7.415,5.592 7.485,5.687 C7.577,5.578 7.628,5.508 7.688,5.447 C9.429,3.692 11.170,1.938 12.911,0.183 C13.153,-0.061 13.325,-0.065 13.571,0.165 C13.982,0.551 14.393,0.936 14.803,1.322 C15.055,1.559 15.057,1.731 14.812,1.978 C13.033,3.769 11.255,5.560 9.477,7.352 C9.433,7.396 9.390,7.442 9.337,7.498 C9.692,7.856 10.038,8.206 10.384,8.555 C11.852,10.034 13.319,11.512 14.787,12.990 C15.065,13.270 15.065,13.425 14.779,13.695 C14.378,14.073 13.976,14.451 13.573,14.829 C13.334,15.053 13.151,15.051 12.924,14.822 C11.170,13.056 9.417,11.289 7.665,9.521 C7.612,9.468 7.572,9.404 7.482,9.290 Z"/>
                                            </svg>
                                            span Удалить
                                            a(href="javascript:;")
                            ul.table-history-mobile
                                li.table-history-mobile__item
                                    a(href="order.html").table-history-mobile__order Заказ № 8765797
                                    ul.table-history-mobile__list
                                        li.table-history-mobile__list-item
                                            div
                                                span Дата:
                                            div
                                                time(datatime="2020-12-12") 12.12.2020
                                        li.table-history-mobile__list-item
                                            div
                                                span Сумма:
                                            div
                                                span 359 359 &#8381;
                                        li.table-history-mobile__list-item
                                            div
                                                span Статус:
                                            div
                                                span.table-history__status.table-history__status_delivered Доставлен
                                        li.table-history-mobile__list-item
                                            div
                                                span Повторить:
                                            div
                                                a(href="javascript:;").table-history__repeat 
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="35px">
                                                        <path  d="M25.563,9.967 C23.182,7.560 20.090,6.105 16.804,5.763 L19.192,3.349 C20.082,2.451 20.146,1.215 19.336,0.603 C18.525,-0.009 17.132,0.227 16.242,1.126 L13.842,3.549 C12.953,4.448 11.466,5.685 10.540,6.297 C10.194,6.525 9.978,6.807 9.890,7.105 C9.743,7.602 9.960,8.138 10.540,8.521 C11.465,9.133 12.952,10.370 13.841,11.269 L16.242,13.693 C16.937,14.396 17.938,14.690 18.731,14.494 C18.952,14.440 19.158,14.348 19.335,14.215 C20.113,13.628 20.084,12.468 19.297,11.581 C19.262,11.543 19.229,11.504 19.192,11.467 L17.035,9.288 C19.328,9.652 21.458,10.725 23.135,12.419 C25.229,14.534 26.382,17.345 26.382,20.335 C26.382,23.325 25.229,26.136 23.137,28.249 C22.945,28.443 22.746,28.625 22.544,28.801 C18.196,32.600 11.597,32.420 7.467,28.249 C3.147,23.885 3.148,16.783 7.468,12.418 L5.040,9.966 C4.655,10.355 4.296,10.764 3.960,11.188 C1.906,13.776 0.789,16.968 0.789,20.334 C0.788,24.251 2.298,27.933 5.039,30.701 C7.781,33.472 11.426,34.998 15.302,34.998 C18.908,34.997 22.312,33.676 24.976,31.263 C25.176,31.081 25.373,30.895 25.564,30.701 C28.306,27.933 29.815,24.252 29.815,20.335 C29.815,16.419 28.305,12.736 25.563,9.967 Z"/>
                                                    </svg>
                                        li.table-history-mobile__list-item
                                            div
                                                span Удалить:
                                            div
                                                .table-history-mobile__delete
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="16px">
                                                        <path d="M7.482,9.290 C7.419,9.388 7.393,9.449 7.349,9.493 C5.601,11.258 3.852,13.020 2.103,14.783 C1.826,15.062 1.670,15.065 1.380,14.793 C0.977,14.416 0.575,14.038 0.173,13.660 C-0.064,13.438 -0.067,13.261 0.164,13.028 C1.946,11.232 3.728,9.436 5.510,7.641 C5.554,7.596 5.597,7.550 5.648,7.497 C5.593,7.439 5.546,7.389 5.498,7.340 C3.724,5.552 1.951,3.765 0.177,1.977 C-0.072,1.726 -0.070,1.562 0.185,1.321 C0.595,0.935 1.006,0.549 1.417,0.164 C1.658,-0.062 1.833,-0.060 2.064,0.172 C3.818,1.939 5.572,3.705 7.324,5.473 C7.377,5.526 7.415,5.592 7.485,5.687 C7.577,5.578 7.628,5.508 7.688,5.447 C9.429,3.692 11.170,1.938 12.911,0.183 C13.153,-0.061 13.325,-0.065 13.571,0.165 C13.982,0.551 14.393,0.936 14.803,1.322 C15.055,1.559 15.057,1.731 14.812,1.978 C13.033,3.769 11.255,5.560 9.477,7.352 C9.433,7.396 9.390,7.442 9.337,7.498 C9.692,7.856 10.038,8.206 10.384,8.555 C11.852,10.034 13.319,11.512 14.787,12.990 C15.065,13.270 15.065,13.425 14.779,13.695 C14.378,14.073 13.976,14.451 13.573,14.829 C13.334,15.053 13.151,15.051 12.924,14.822 C11.170,13.056 9.417,11.289 7.665,9.521 C7.612,9.468 7.572,9.404 7.482,9.290 Z"/>
                                                    </svg>
                                                    a(href="javascript:;")
                                li.table-history-mobile__item
                                    a(href="order.html").table-history-mobile__order Заказ № 8765797
                                    ul.table-history-mobile__list
                                        li.table-history-mobile__list-item
                                            div
                                                span Дата:
                                            div
                                                time(datatime="2020-12-12") 12.12.2020
                                        li.table-history-mobile__list-item
                                            div
                                                span Сумма:
                                            div
                                                span 359 359 &#8381;
                                        li.table-history-mobile__list-item
                                            div
                                                span Статус:
                                            div
                                                span.table-history__status.table-history__status_delivered Доставлен
                                        li.table-history-mobile__list-item
                                            div
                                                span Повторить:
                                            div
                                                a(href="javascript:;").table-history__repeat 
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="35px">
                                                        <path  d="M25.563,9.967 C23.182,7.560 20.090,6.105 16.804,5.763 L19.192,3.349 C20.082,2.451 20.146,1.215 19.336,0.603 C18.525,-0.009 17.132,0.227 16.242,1.126 L13.842,3.549 C12.953,4.448 11.466,5.685 10.540,6.297 C10.194,6.525 9.978,6.807 9.890,7.105 C9.743,7.602 9.960,8.138 10.540,8.521 C11.465,9.133 12.952,10.370 13.841,11.269 L16.242,13.693 C16.937,14.396 17.938,14.690 18.731,14.494 C18.952,14.440 19.158,14.348 19.335,14.215 C20.113,13.628 20.084,12.468 19.297,11.581 C19.262,11.543 19.229,11.504 19.192,11.467 L17.035,9.288 C19.328,9.652 21.458,10.725 23.135,12.419 C25.229,14.534 26.382,17.345 26.382,20.335 C26.382,23.325 25.229,26.136 23.137,28.249 C22.945,28.443 22.746,28.625 22.544,28.801 C18.196,32.600 11.597,32.420 7.467,28.249 C3.147,23.885 3.148,16.783 7.468,12.418 L5.040,9.966 C4.655,10.355 4.296,10.764 3.960,11.188 C1.906,13.776 0.789,16.968 0.789,20.334 C0.788,24.251 2.298,27.933 5.039,30.701 C7.781,33.472 11.426,34.998 15.302,34.998 C18.908,34.997 22.312,33.676 24.976,31.263 C25.176,31.081 25.373,30.895 25.564,30.701 C28.306,27.933 29.815,24.252 29.815,20.335 C29.815,16.419 28.305,12.736 25.563,9.967 Z"/>
                                                    </svg>
                                        li.table-history-mobile__list-item
                                            div
                                                span Удалить:
                                            div
                                                .table-history-mobile__delete
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="16px">
                                                        <path d="M7.482,9.290 C7.419,9.388 7.393,9.449 7.349,9.493 C5.601,11.258 3.852,13.020 2.103,14.783 C1.826,15.062 1.670,15.065 1.380,14.793 C0.977,14.416 0.575,14.038 0.173,13.660 C-0.064,13.438 -0.067,13.261 0.164,13.028 C1.946,11.232 3.728,9.436 5.510,7.641 C5.554,7.596 5.597,7.550 5.648,7.497 C5.593,7.439 5.546,7.389 5.498,7.340 C3.724,5.552 1.951,3.765 0.177,1.977 C-0.072,1.726 -0.070,1.562 0.185,1.321 C0.595,0.935 1.006,0.549 1.417,0.164 C1.658,-0.062 1.833,-0.060 2.064,0.172 C3.818,1.939 5.572,3.705 7.324,5.473 C7.377,5.526 7.415,5.592 7.485,5.687 C7.577,5.578 7.628,5.508 7.688,5.447 C9.429,3.692 11.170,1.938 12.911,0.183 C13.153,-0.061 13.325,-0.065 13.571,0.165 C13.982,0.551 14.393,0.936 14.803,1.322 C15.055,1.559 15.057,1.731 14.812,1.978 C13.033,3.769 11.255,5.560 9.477,7.352 C9.433,7.396 9.390,7.442 9.337,7.498 C9.692,7.856 10.038,8.206 10.384,8.555 C11.852,10.034 13.319,11.512 14.787,12.990 C15.065,13.270 15.065,13.425 14.779,13.695 C14.378,14.073 13.976,14.451 13.573,14.829 C13.334,15.053 13.151,15.051 12.924,14.822 C11.170,13.056 9.417,11.289 7.665,9.521 C7.612,9.468 7.572,9.404 7.482,9.290 Z"/>
                                                    </svg>
                                                    a(href="javascript:;")
                            nav.right-side-nav
                                ul
                                    li.right-side-nav__item
                                        a(href="cabinet.html") Личный кабинет
                                    li.right-side-nav__item
                                        a(href="history.html") История заказов
                                    li.right-side-nav__item
                                        a(href="profile.html") Мой профиль
                                    li.right-side-nav__item.active
                                        a(href="registration.html") Регистрация 
        footer
            include ./templates/footer/footer.pug