doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container.container_main
                include ./templates/aside-catalog/aside-catalog.pug
                .content-wrapper
                    .block
                        h1.block-headline История заказов
                        .content-wrapper-with-side-block
                            div
                                table.table-order
                                    tr
                                        th Товар
                                        th 
                                        th Артикул
                                        th Кол-во
                                        th Цена за ед.
                                        th Скидка
                                        th Сумма
                                        th Повторить
                                    tr
                                        td 
                                            img.basket-table__img(src="assets/img/product_01.png", alt="")
                                        td
                                            .basket-table__description
                                                a(href="product.html").basket-table__headline Ручка-кнопка
                                                span.basket-table__article Артикул: 1232
                                        td 764
                                        td 7
                                        td 279 &#8381;
                                        td 3%
                                        td 18 000 &#8381;
                                        td
                                            a(href="javascript:;").table-history__repeat 
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="35px">
                                                    <path  d="M25.563,9.967 C23.182,7.560 20.090,6.105 16.804,5.763 L19.192,3.349 C20.082,2.451 20.146,1.215 19.336,0.603 C18.525,-0.009 17.132,0.227 16.242,1.126 L13.842,3.549 C12.953,4.448 11.466,5.685 10.540,6.297 C10.194,6.525 9.978,6.807 9.890,7.105 C9.743,7.602 9.960,8.138 10.540,8.521 C11.465,9.133 12.952,10.370 13.841,11.269 L16.242,13.693 C16.937,14.396 17.938,14.690 18.731,14.494 C18.952,14.440 19.158,14.348 19.335,14.215 C20.113,13.628 20.084,12.468 19.297,11.581 C19.262,11.543 19.229,11.504 19.192,11.467 L17.035,9.288 C19.328,9.652 21.458,10.725 23.135,12.419 C25.229,14.534 26.382,17.345 26.382,20.335 C26.382,23.325 25.229,26.136 23.137,28.249 C22.945,28.443 22.746,28.625 22.544,28.801 C18.196,32.600 11.597,32.420 7.467,28.249 C3.147,23.885 3.148,16.783 7.468,12.418 L5.040,9.966 C4.655,10.355 4.296,10.764 3.960,11.188 C1.906,13.776 0.789,16.968 0.789,20.334 C0.788,24.251 2.298,27.933 5.039,30.701 C7.781,33.472 11.426,34.998 15.302,34.998 C18.908,34.997 22.312,33.676 24.976,31.263 C25.176,31.081 25.373,30.895 25.564,30.701 C28.306,27.933 29.815,24.252 29.815,20.335 C29.815,16.419 28.305,12.736 25.563,9.967 Z"/>
                                                </svg>
                                    tr
                                        td 
                                            img.basket-table__img(src="assets/img/product_02.png", alt="")
                                        td
                                            .basket-table__description
                                                a(href="product.html").basket-table__headline Ручка-кнопка
                                                span.basket-table__article Артикул: 1232
                                        td 764
                                        td 7
                                        td 279 &#8381;
                                        td 3%
                                        td 18 000 &#8381;
                                        td
                                            a(href="javascript:;").table-history__repeat 
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="35px">
                                                    <path  d="M25.563,9.967 C23.182,7.560 20.090,6.105 16.804,5.763 L19.192,3.349 C20.082,2.451 20.146,1.215 19.336,0.603 C18.525,-0.009 17.132,0.227 16.242,1.126 L13.842,3.549 C12.953,4.448 11.466,5.685 10.540,6.297 C10.194,6.525 9.978,6.807 9.890,7.105 C9.743,7.602 9.960,8.138 10.540,8.521 C11.465,9.133 12.952,10.370 13.841,11.269 L16.242,13.693 C16.937,14.396 17.938,14.690 18.731,14.494 C18.952,14.440 19.158,14.348 19.335,14.215 C20.113,13.628 20.084,12.468 19.297,11.581 C19.262,11.543 19.229,11.504 19.192,11.467 L17.035,9.288 C19.328,9.652 21.458,10.725 23.135,12.419 C25.229,14.534 26.382,17.345 26.382,20.335 C26.382,23.325 25.229,26.136 23.137,28.249 C22.945,28.443 22.746,28.625 22.544,28.801 C18.196,32.600 11.597,32.420 7.467,28.249 C3.147,23.885 3.148,16.783 7.468,12.418 L5.040,9.966 C4.655,10.355 4.296,10.764 3.960,11.188 C1.906,13.776 0.789,16.968 0.789,20.334 C0.788,24.251 2.298,27.933 5.039,30.701 C7.781,33.472 11.426,34.998 15.302,34.998 C18.908,34.997 22.312,33.676 24.976,31.263 C25.176,31.081 25.373,30.895 25.564,30.701 C28.306,27.933 29.815,24.252 29.815,20.335 C29.815,16.419 28.305,12.736 25.563,9.967 Z"/>
                                                </svg>
                                ul.table-history-mobile 
                                    li.table-history-mobile__item
                                        .table-history-mobile__header
                                            span Заказ № 9876
                                            img.basket-table__img(src="assets/img/product_01.png", alt="")
                                        ul.table-history-mobile__list
                                            li.table-history-mobile__list-item
                                                div
                                                    span Товар:
                                                div
                                                    span Ручка-кнопка 1984
                                            li.table-history-mobile__list-item
                                                div
                                                    span Артикул:
                                                div
                                                    span 3546506800
                                            li.table-history-mobile__list-item
                                                div
                                                    span Количество:
                                                div
                                                    span 3
                                            li.table-history-mobile__list-item
                                                div
                                                    span Цена за ед:
                                                div
                                                    span 1 345 &#8381;
                                            li.table-history-mobile__list-item
                                                div
                                                    span Скидка:
                                                div
                                                    span 0%
                                            li.table-history-mobile__list-item
                                                div
                                                    span Сумма:
                                                div
                                                    span 359 359 &#8381;
                                            li.table-history-mobile__list-item
                                                div
                                                    span Повторить позицию:
                                                div
                                                    a(href="javascript:;").table-history__repeat 
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="35px">
                                                            <path  d="M25.563,9.967 C23.182,7.560 20.090,6.105 16.804,5.763 L19.192,3.349 C20.082,2.451 20.146,1.215 19.336,0.603 C18.525,-0.009 17.132,0.227 16.242,1.126 L13.842,3.549 C12.953,4.448 11.466,5.685 10.540,6.297 C10.194,6.525 9.978,6.807 9.890,7.105 C9.743,7.602 9.960,8.138 10.540,8.521 C11.465,9.133 12.952,10.370 13.841,11.269 L16.242,13.693 C16.937,14.396 17.938,14.690 18.731,14.494 C18.952,14.440 19.158,14.348 19.335,14.215 C20.113,13.628 20.084,12.468 19.297,11.581 C19.262,11.543 19.229,11.504 19.192,11.467 L17.035,9.288 C19.328,9.652 21.458,10.725 23.135,12.419 C25.229,14.534 26.382,17.345 26.382,20.335 C26.382,23.325 25.229,26.136 23.137,28.249 C22.945,28.443 22.746,28.625 22.544,28.801 C18.196,32.600 11.597,32.420 7.467,28.249 C3.147,23.885 3.148,16.783 7.468,12.418 L5.040,9.966 C4.655,10.355 4.296,10.764 3.960,11.188 C1.906,13.776 0.789,16.968 0.789,20.334 C0.788,24.251 2.298,27.933 5.039,30.701 C7.781,33.472 11.426,34.998 15.302,34.998 C18.908,34.997 22.312,33.676 24.976,31.263 C25.176,31.081 25.373,30.895 25.564,30.701 C28.306,27.933 29.815,24.252 29.815,20.335 C29.815,16.419 28.305,12.736 25.563,9.967 Z"/>
                                                        </svg>
                                a(href="#").repeat-order Повторить заказ
                            nav.right-side-nav
                                ul
                                    li.right-side-nav__item
                                        a(href="cabinet.html") Личный кабинет
                                    li.right-side-nav__item
                                        a(href="history.html") История заказов
                                    li.right-side-nav__item
                                        a(href="profile.html") Мой профиль
                                    li.right-side-nav__item.active
                                        a(href="registration.html") Регистрация 
        footer
            include ./templates/footer/footer.pug