doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container.container_main
                include ./templates/aside-catalog/aside-catalog.pug
                .content-wrapper
                    .block
                        h1.block-headline Услуги
                        ul.services
                            .services__item
                                div
                                    include templates/_common/svg/sv-delivery.svg
                                span Доставка
                                a(href="service.html")
                            .services__item
                                div
                                    include templates/_common/svg/sv-cut.svg
                                span Раскрой
                                a(href="service.html")
                            .services__item
                                div
                                    include templates/_common/svg/sv-counting.svg
                                span Технологический расчёт
                                a(href="service.html")
                            .services__item
                                div
                                    include templates/_common/svg/sv-package.svg
                                span Упаковка
                                a(href="service.html")
                            .services__item
                                div
                                    include templates/_common/svg/sv-assembly.svg
                                span Сборка
                                a(href="service.html")
                            .services__item
                                div
                                    include templates/_common/svg/sv-drilling.svg
                                span Сверление <br> и фрезерование
                                a(href="service.html")
                            .services__item
                                div
                                    include templates/_common/svg/sv-elements.svg
                                span Изготовление элементов
                                a(href="service.html")
                            .services__item
                                div
                                    include templates/_common/svg/sv-facing.svg
                                span Облицовывание кромкой
                                a(href="service.html")
        footer
            include ./templates/footer/footer.pug